build_monitor/**/target/**
build_monitor/capi/include/**
build_monitor_qt/Installer/Build/**
build_monitor_qt/Installer/Files/**
build_monitor_qt/Installer/BuildMonitor*.exe
build_monitor_qt/BuildMonitor.pro.user
build-*/**
Cargo.lock
